<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="product_name">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Product Name </th>
      <td mat-cell *matCellDef="let element" class="left-text"> {{element.product_name}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let element" class="left-text"> {{element.price }} </td>
    </ng-container>

    <ng-container matColumnDef="promo_code">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Action</th>
      <td mat-cell *matCellDef="let element" class="left-text">  
          <button mat-stroked-button color="primary" (click)="openRecord(element.promo_code)">View Promo Code</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>